USE [PTC]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 11/25/2017 10:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressId] [uniqueidentifier] NOT NULL,
	[Street1] [varchar](255) NOT NULL,
	[Street2] [varchar](255) NULL,
	[Street3] [varchar](255) NULL,
	[City] [varchar](100) NOT NULL,
	[Village] [varchar](100) NULL,
	[StateCode] [char](2) NULL,
	[ProvinceCode] [char](2) NULL,
	[PostalCode] [varchar](18) NULL,
	[PostalCodeExt] [varchar](10) NULL,
	[CountryCode] [char](3) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CanadianProvince]    Script Date: 11/25/2017 10:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanadianProvince](
	[ProvinceCode] [char](2) NOT NULL,
	[ProvinceName] [varchar](25) NOT NULL,
 CONSTRAINT [PK_CanadianProvinces] PRIMARY KEY CLUSTERED 
(
	[ProvinceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/25/2017 10:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 11/25/2017 10:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryCode] [char](3) NOT NULL,
	[CountryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditCard]    Script Date: 11/25/2017 10:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCard](
	[CreditCardId] [uniqueidentifier] NOT NULL,
	[CardType] [varchar](20) NOT NULL,
	[NameOnCard] [varchar](100) NOT NULL,
	[CardNumber] [varchar](25) NOT NULL,
	[SecurityCode] [varchar](4) NOT NULL,
	[ExpMonth] [smallint] NOT NULL,
	[ExpYear] [smallint] NOT NULL,
	[BillingPostalCode] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CreditCard] PRIMARY KEY CLUSTERED 
(
	[CreditCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditCardType]    Script Date: 11/25/2017 10:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCardType](
	[CardTypeId] [int] IDENTITY(1,1) NOT NULL,
	[CardType] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/25/2017 10:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](80) NULL,
	[IntroductionDate] [datetime] NULL,
	[Price] [money] NULL,
	[Url] [nvarchar](255) NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USStateCode]    Script Date: 11/25/2017 10:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USStateCode](
	[StateCode] [char](2) NOT NULL,
	[StateName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USStateCode] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Address] ([AddressId], [Street1], [Street2], [Street3], [City], [Village], [StateCode], [ProvinceCode], [PostalCode], [PostalCodeExt], [CountryCode]) VALUES (N'583c1259-7b54-4b02-acd3-18dead85ce51', N'Australia 1', N'Australia 2', N'Australia 3', N'Australia City', NULL, NULL, NULL, N'123 BED', NULL, N'AUS')
GO
INSERT [dbo].[Address] ([AddressId], [Street1], [Street2], [Street3], [City], [Village], [StateCode], [ProvinceCode], [PostalCode], [PostalCodeExt], [CountryCode]) VALUES (N'1295ba57-a710-4e04-90de-4dfa32e0eed1', N'153 Buckingham Blvd.', N'', NULL, N'Gallatin', NULL, N'TN', NULL, N'37066', N'8644', N'USA')
GO
INSERT [dbo].[Address] ([AddressId], [Street1], [Street2], [Street3], [City], [Village], [StateCode], [ProvinceCode], [PostalCode], [PostalCodeExt], [CountryCode]) VALUES (N'57ed4965-b8f4-4672-979e-5671be99c721', N'UK Street 1', N'UK Street 2', NULL, N'UK City', N'Villages', NULL, NULL, N'44444', NULL, N'GBR')
GO
INSERT [dbo].[CanadianProvince] ([ProvinceCode], [ProvinceName]) VALUES (N'AB', N'Alberta')
GO
INSERT [dbo].[CanadianProvince] ([ProvinceCode], [ProvinceName]) VALUES (N'BC', N'British Columbia')
GO
INSERT [dbo].[CanadianProvince] ([ProvinceCode], [ProvinceName]) VALUES (N'MB', N'Manitoba')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (1, N'Services')
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Training')
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (3, N'Information')
GO
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Country] ([CountryCode], [CountryName]) VALUES (N'ARG', N'Argentina')
GO
INSERT [dbo].[Country] ([CountryCode], [CountryName]) VALUES (N'AUS', N'Australia')
GO
INSERT [dbo].[Country] ([CountryCode], [CountryName]) VALUES (N'AUT', N'Austria')
GO
INSERT [dbo].[CreditCard] ([CreditCardId], [CardType], [NameOnCard], [CardNumber], [SecurityCode], [ExpMonth], [ExpYear], [BillingPostalCode]) VALUES (N'ec1871a4-6cca-4e3c-922d-a1aa6aa2fefe', N'American Express', N'Paul Sheriff', N'1233123312331233', N'999', 6, 2018, N'99999')
GO
SET IDENTITY_INSERT [dbo].[CreditCardType] ON 
GO
INSERT [dbo].[CreditCardType] ([CardTypeId], [CardType], [IsActive]) VALUES (1, N'Visa', 1)
GO
INSERT [dbo].[CreditCardType] ([CardTypeId], [CardType], [IsActive]) VALUES (2, N'Master Card', 1)
GO
INSERT [dbo].[CreditCardType] ([CardTypeId], [CardType], [IsActive]) VALUES (3, N'American Express', 1)
GO
SET IDENTITY_INSERT [dbo].[CreditCardType] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 
GO
INSERT [dbo].[Product] ([ProductId], [ProductName], [IntroductionDate], [Price], [Url], [CategoryId]) VALUES (1, N'SQL Server Naming Standards', CAST(N'2015-02-01T00:00:00.000' AS DateTime), 1.0000, N'http://www.pdsa.com/downloads', 3)
GO
INSERT [dbo].[Product] ([ProductId], [ProductName], [IntroductionDate], [Price], [Url], [CategoryId]) VALUES (3, N'VB.NET Development Standards', CAST(N'2015-04-01T00:00:00.000' AS DateTime), 22.0000, N'http://www.pdsa.com/downloads', 3)
GO
INSERT [dbo].[Product] ([ProductId], [ProductName], [IntroductionDate], [Price], [Url], [CategoryId]) VALUES (5, N'VS.NET Standards', CAST(N'2015-06-01T00:00:00.000' AS DateTime), 12.0000, N'http://www.pdsa.com/downloads', 3)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[USStateCode] ([StateCode], [StateName]) VALUES (N'AK', N'Alaska')
GO
INSERT [dbo].[USStateCode] ([StateCode], [StateName]) VALUES (N'AL', N'Alabama')
GO
INSERT [dbo].[USStateCode] ([StateCode], [StateName]) VALUES (N'AR', N'Arkansas')
GO
/****** Object:  Index [PK__CreditCa__AB0A3D10B02826C4]    Script Date: 11/25/2017 10:36:40 AM ******/
ALTER TABLE [dbo].[CreditCardType] ADD PRIMARY KEY NONCLUSTERED 
(
	[CardTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [DF_AddressId]  DEFAULT (newid()) FOR [AddressId]
GO
ALTER TABLE [dbo].[CreditCardType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([CountryCode])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Country]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Province] FOREIGN KEY([ProvinceCode])
REFERENCES [dbo].[CanadianProvince] ([ProvinceCode])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Province]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_State] FOREIGN KEY([StateCode])
REFERENCES [dbo].[USStateCode] ([StateCode])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_State]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
